.card-data {
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url('https://source.unsplash.com/random/nature');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .card {
    width: 47%;
    line-height: 100px;
    margin: auto;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 5px
  }

  .row{
    padding-left: 5%;
  }